:root {
    --correct: #6ca965;
    --incorrect: #787c7f;
    --partially-correct: #c8b653;
}

main {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 500px;
    display: flex;
    justify-content: center;
}

#board-container {
    width: 250px;
    height: 250px;
}

ul {
    display: flex;
    justify-content: flex-start;
    height: calc(100%/ 6);
}


li {
    border: 1px dashed red;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
}

.is-partially-correct {
    background-color: var(--partially-correct);
    color: white;
}

.is-correct {
    background-color: var(--correct);
    color: white;
}

.is-incorrect {
    background-color: var(--incorrect);
    color: white;
}